// Code 3.9 pug Example Application - views/board.pug

doctype html
    html
        head
            title Board Page
        body
            h1 Board Page
            h3 This is page #{page} by  #{author}
            // js에 ${ }와 같은 방식